<div id="content-container">

    <div id="header-container">
        <h1>About The Band</h1>
    </div>
    <div id="main-container">
        <div id="container-one" class="column">
            <h3>Vocals</h3>
            <p>Alexis</p>
            <p>This about this artist</p>
        </div>
        <div id="container-two" class="column">
            <h3>Lead Guitar</h3>
            <p>Matt</p>
            <p>This about this artist</p>
        </div>
        <div id="container-three" class="column">
            <h3>Bass</h3>
            <p>Colin</p>
            <p>This about this artist</p>
        </div>
        <div id="container-four" class="column">
            <h3>Drums</h3>
            <p>Aidan</p>
            <p>This about this artist</p>
        </div>
    </div>
</div>

    
