#content-container {
    height: 100%;
    margin-bottom: 5%;
}
video {
    width: 25%;
    height: auto;
    padding: 1%;
}

.image {
    /* width: 20%; */
    max-width: 20%;
    /* height: auto; */
    max-height: 10%;
    padding: 1%;
    border-radius: 15%;
}

.image:hover {
    transform: scale(1.5); /* Increase the size on hover */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
    border-color: #007bff; /* Change border color on hover */
    margin-left: 7.5%;
}

h2 {
    display: flex;
    justify-content: center;
}
