<div id="main-container">
        <ul>
            <li>
                <a href="https://www.youtube.com/@INVENIUM" target="_blank">Subscribe To Our Youtube Channel</a>
            </li>
            <li>
                <a href="https://www.instagram.com/invenium.the.band/" target="_blank">Follow Us On Instagram</a>
            </li>
            <li>
                <a [href]="mailtoLink" target="_blank">Book An Event With Us</a>
            </li>
            <li>Created By Kyle McIntosh</li>
        </ul>
</div>
