#main-container {
    width: 98vw;
    position: fixed;
    bottom: 0;
    padding-top: 0.75%;
    height: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5%; /* Add padding for content */
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}
